@import url('https://fonts.googleapis.com/css?family=Caveat|Karla');

.cursive {
  font-family: 'Caveat', cursive;
}
.sans-serif {
  font-family: 'Karla', monospace;
}

input:empty {
  box-shadow: none;
}

.charcoal {
  color: #2d2926;
}
